body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


.quiz-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}


#options button {
    display: block;
    background-color: #544c63;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#options button:hover {
    background-color: #3b3547;
}

#next-btn, #start-btn {
    background-color: #5b3c88;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#next-btn:hover, #start-btn:hover {
    background-color: #7e65a1;
}
